body{
  font-family:"Roboto", sans-serif;
  color: #434455;
  background-color:#FFFFFF;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}
/** header */
.studio-top-section{
  color: #2e2f42;
}
.navigation-link {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5 ;
}

.navigation-list-item {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}

.navigation-list-item:hover {
  color: #404bbf;
  }

.navigation-list-item:active {
  text-decoration:underline;
  }

.navigation-list-item:focus {
  color: #404bbf;
  }

.address{
  font-style: normal
}
.addsress-list-item{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:#434455;
}

.addsress-list-item:hover{
  color: #404bbf;
  }

.addsress-list-item:focus{
  color: #404bbf;
  }

/** hero */
.hero {
  background: #2e2f42;
}

.page-title {
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
}

.hero-button {
background: #4d5ae5;
cursor: pointer;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
}

.hero-button:hover {
  background: #404bbf;
  }

.hero-button:hover {
  background: #404BBF;
  }
/** skills */
.skills-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skills-list-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.skills-list-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

/** team */
.team{
  background-color: #F4F4FD
}

.team-title {
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
}

.team-list-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}

.team-list-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
}

.team-item{
  background-color: #FFFFFF;
}

/** portfolio */
.portfolio-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
}

.portfolio-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

.portfolio-list-title{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
/** footer */
.bottom-section {
  background: #2e2f42;
}

.footer-link {
font-weight: 700;
font-family: "Raleway", sans-serif;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}

.studio-bottom-section{
  color: #f4f4fd;
}

.footer-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}