h1,
h2,
h3,
h4,
h5,
h6,
p{
  margin:0;
}
ul{
  margin:0;
  padding-left:0;
  list-style-type: none;
}

body{
  font-family:"Roboto", sans-serif;
  color: #434455;
  background-color:#FFFFFF;
}

a{
  text-decoration: none;
}

.container{
  width: 1158px; 
}
/** header */
.top-section{
  height: 72px;
  border-bottom: 1px solid #e7e9fc;
  background: #fff
}

.studio-top-section{
  color: #2e2f42;
}
.navigation-link {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5 ;
}

.navigation-list-item {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}

.navigation-list-item:hover {
  color: #404bbf;
  }

.navigation-list-item:active {
  text-decoration:underline;
  }

.navigation-list-item:focus {
  color: #404bbf;
  }

.address{
  font-style: normal
}
.addsress-list-item{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:#434455;
}

.addsress-list-item:hover{
  color: #404bbf;
  }

.addsress-list-item:focus{
  color: #404bbf;
  }

.top-section .container{
  display: flex;
  padding: 24px 156px 24px 156px;
  
}

.top-section nav{
  display: flex;
  margin-right:332px;
}

.navigation-list{
  display: flex;
  gap: 40px;
  padding-left: 76px;
}

.addsress-list-item{
display: flex;
} 

.addsress-list-item:first-child{
  margin-right: 40px;
}
/** hero */
.hero {
  background: #2e2f42;
}

.page-title {
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
margin-bottom: 48px;
}

.hero-button {
background: #4d5ae5;
cursor: pointer;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
padding: 16px 32px 16px 32px;
}

.hero-button:hover {
  background: #404bbf;
  }

.hero-button:focus {
  background: #404BBF;
  }

.hero .container{
  display: flex;
  flex-direction: column;
  padding: 180px 635px 196px 635px;
  justify-content: center;
}
/** skills */

.skills-list-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}

.skills-list-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

.skills .container{
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding:112px 156px 120px 156px;
}

.skills li{
  width:calc(100% - 3 * 24px) / 4
}
/** team */
.team{
  background-color: #F4F4FD
}

.team-title {
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
padding-top: 120px;
margin-bottom: 72px;
}

.team-list-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 8px;
}

.team-list-image{
  margin-bottom: 32px;
}

.team-list-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
margin-bottom: 32px;
}

.team-item{
  background-color: #FFFFFF;
}

.team .container{
  display:flex;
  gap: 24px;
  padding-left: 156px;
  padding-right: 156px;
  padding-bottom: 120px;
  justify-content: center;
}
/** portfolio */
.portfolio-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
margin-bottom: 72px;
padding-top: 120px;
}

.portfolio-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
margin-bottom: 32px;
}

.portfolio-list-title{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
margin-top: 32px;
}

.portfolio .container{
  display: flex;
  flex-wrap: wrap;
  padding-left: 156px;
  padding-right: 156px;
  gap:24px;
  justify-content: center;
  padding-bottom: 120px;
}
/** footer */
.bottom-section {
  background: #2e2f42;
}

.footer-link {
font-weight: 700;
font-family: "Raleway", sans-serif;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
margin-bottom: 16px;
}

.studio-bottom-section{
  color: #f4f4fd;
}

.footer-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}
.bottom-section .container{
display: flex;
flex-direction: column;
padding-left: 156px;
padding-bottom: 100px;
padding-top: 100px;
}
/**section */
.section{
  padding-top: 120px;
  padding-bottom: 120px;
}